<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shoparty.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoparty_android">
        <activity
            android:name="com.shoparty.android.ui.activities.ongoingorder.OngoingOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.privacypolicy.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.contactus.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.returnpolicy.ReturnPolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.termsandcondition.TermAndConditionActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.aboutus.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.customize.CustomizeActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.shoppingbag.ShopingBagActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.verificationotp.VerificationActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.register.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.login.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.filter.FilterActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.address.addaddress.addaddress.AddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.address.addaddress.getaddress.AddressActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.wishlist.WishListActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.vouchers.VouchersActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.myaccount.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.myorder.myorder.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.cancelorder.cancelorder.OrderCancelActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.cancelorder.cancelconfirm.CancelConfirmActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.myaccount.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.shipping.ShippingActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.cancelorder.cancelorder.CancelOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.myorder.orderdetails.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.myorder.ordersuccess.OrderSuccessfulyActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.addcard.AddCardActivity"
            android:exported="false" />
        <activity
            android:name="com.shoparty.android.ui.activities.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.topselling.TopSellingItemActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.candles.CandlesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.seasons.SeasonsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.colors.ColoursActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.ballons.BallonsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.partysupply.PartySupplyActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.theme.ThemesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.costumes.CostumesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.shoparty.android.ui.activities.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shoparty.android.ui.activities.mainactivity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>